.card-div p::before {
  content: attr(data-parent) ": ";
  text-transform: capitalize;
  font-weight: 600;
}

/* .text-div-container {
  display: flex;
  flex-direction: column;
} */

/* Selects all the attributes of the country and give them all their ID as attribute name with the content: attr(id) ": " */
.attributes::before {
  content: attr(id) ": ";
  text-transform: capitalize;
  font-weight: 600;
}

.attributes:first-child::before {
  content: "Native Name: ";

  font-weight: 600;
}

.second-text .attributes:first-child::before {
  content: "Top Level Domain: ";

  font-weight: 600;
}

.img-button-div {
  display: flex;
  flex-direction: column;
}

/* #back-button {
  width: 125px;

  margin-bottom: 4rem;
} */
