* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  background: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
}

.dark {
  background: hsl(209, 23%, 22%);
  background-color: hsl(209, 23%, 22%);
  color: white;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  /* color: black; */
}

header {
  padding: 10px;
  padding-left: 4%;
  text-align: left;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 10px #1d1c1c4c;
}

.dark-mode-text {
  justify-content: right;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  padding-right: 5%;
  position: relative;
  margin-top: -40px;
}

#country-div {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -3%;
  background-color: hsl(0, 0%, 98%);
}

.card-div {
  justify-content: center;
  align-content: center;
  margin: 2rem;
  padding-bottom: 30px;
  min-width: 320px;
  max-width: 320px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1d1c1c4c;
  cursor: pointer;
}

h2 {
  padding: 1%;
  margin: 2%;
  font-size: 32px;
  font-weight: 800;
}

h3 {
  font-weight: 300;
}

p {
  padding: 1%;
  margin: 2%;
  font-weight: 300;
}

img {
  height: 200px;
  width: 320px;
  border-radius: 5px 5px 0px 0px;
}

.region-filter {
  display: flex;
  justify-content: right;
  margin: 2rem;
  height: 50px;
}

select {
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  margin-left: auto;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  width: 100%;
  box-shadow: 5px 5px 10px #1d1c1c4c;
}

#filter-select {
  /* color: black; */
}

#search-filter {
  display: flex;
  /* height: 100px; */
  background-color: hsl(0, 0%, 98%);

  justify-content: space-between;
  padding: 0 2%;
  margin-top: 1%;
}

.search-bar-input {
  display: flex;
  padding: 2rem;
  padding-left: 0.3rem;
}

.search-bar-input input {
  /* background-color: hsl(0, 0%, 100%); */
  border: none;
  outline: none;
  height: 50px;
  box-shadow: 5px 5px 10px #1d1c1c4c;
  border-radius: 8px;
  /* color: black; */
  padding-left: 40px;
}

.search-bar-input input::placeholder {
}

.search-icon {
  height: 28px;
  width: 28px;
  position: relative;
  left: 35px;
  top: 12px;
}

.dark-icon {
  height: 28px;
  width: 28px;
  position: relative;
  right: 10px;
  top: -5px;
  /* filter: invert(100%); */
}

#country {
  display: flex;
  margin-top: 5rem;
  background-color: hsl(0, 0%, 98%);
}

.text-div-wrapper {
  /* border: 1px solid green; */
  width: 50%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 5rem; */
}

.text-div {
  flex-direction: column;
  justify-content: flex-start;
  height: 220px;
  border: 2px solid transparent;
  /* top: -500px; */
  /* position: relative; */
  display: flex;
  margin: 10px;
  width: 40%;
}

.text-div-container {
  /* border: 2px solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#borderButtons {
  width: 100%;
  height: 5rem;
  border: 1px solid transparent;
  display: flex;
  flex-wrap: wrap;
  margin-left: 22px;
  margin-top: 30px;
}

#borderButtons button {
  height: 2rem;
  padding: 0 0.5rem;
  margin-left: 0.7rem;
  margin-bottom: 0.8rem;
  /* color: black;
  background-color: hsl(0, 0%, 100%); */
  box-shadow: 0px 0px 10px #1d1c1c56;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#name {
  display: flex;
  position: relative;
  width: 100%;
  margin-left: 12px;
  /* left: 1100px; */
  /* top: -460px; */
}

.img-button-div {
  margin-left: 5%;
  /* z-index: -1; */
  border: 2px solid transparent;
  width: 50%;
}

#flag {
  width: 600px;
  height: 450px;
  /* object-fit: cover; */
  border: 25px solid rgba(0, 0, 0, 0.059);
  border-radius: 4px;
}

#back-button {
  display: flex;
  width: 125px;
  margin: 120px;
  justify-content: center;
  align-items: center;
  /* color: black;
  background-color: hsl(0, 0%, 100%); */
  box-shadow: 0px 0px 10px #1d1c1c7d;
  height: 35px;
  cursor: pointer;

  border-radius: 6px;

  border: none;
}

.back-button-icon {
  height: 22px;
  width: 22px;
  position: relative;
  left: 135px;
  top: -148px;
  /* filter: invert(100%); */
}
